.btn-wrapper {
  .v-btn {
    font-size: 0.85rem;
    text-transform: none;
    font-weight: 400;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 0 8px !important;
    color: rgb(85, 85, 85);
  }
}

.photo-wrapper {
  width: 900px !important;
  margin: auto;
  .photo {
  }
}
