.btn-row {
  > button:first-child {
    color: white !important;
  }
  .v-btn {
    color: rgb(85, 85, 85);
  }
}

.img-row {
  padding-left: 150px !important;
  @media only screen and (max-width: 1100px) {
    padding-left: 75px !important;
  }
}
